/*Global*/

*,
*::before,
::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
    /*background-color: #D8DBD6;*/
}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

h6 {
    font-size: 12pt;
}

/*Nav*/

header {
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(19, 29, 168, 0.747);
    backdrop-filter: blur(2.2rem);
}

#navsuperior {
    color: white;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;

}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: #ffffff;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover {
    opacity: .7;
}

.nav-link-CMT {
    width: 1.6rem;
    height: 4.4rem;
    background: url("") center no-repeat;
}

.nav-link-search {
    width: 1.6rem;
    height: 4.4rem;
}

/*Video meritocracia titulo*/

.meritocracia-vid {
    text-align: center;
}

#meritocracia-video {
    width: 12rem;
    text-align: center;
    margin: 2.1rem;
}

/*subtitulo*/

.subtitle1 {
    text-align: center;
    color: lightblue;
}

/*intro*/

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 115px;
    color: rgb(255, 255, 255);
}

/*Descrição Alamar*/

/*section{
    background-color: D8DBD6;
}*/

.alamar {
    padding-top: 60px;
}

#descricao-alamar {
    width: 60%;
    float: left;
}

#video-alamar {
    position: relative;
    width: 40%;
    float: right;
}

.alamar {
    font: bold;
    font-size: 56pt;
    margin-left: 201px;
    margin-top: 60px;
    line-height: 1.07143;
    font-weight: 700;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.paragrafoalamar {
    font-size: 28px;
    color: #8c8c8c;
    margin-top: 60px;
    margin-left: 202px;
    width: 45rem;
}

.tema-graduacao {
    clear: both;
}

#graduacao {
    margin-left: 920px;
    margin-top: 10rem;
}

#gradu {
    margin-left: 920px;
}

.descricao-graduacao {
    float: right;
    width: 60%;
}

#video-graduacao {
    position: relative;
    float: left;
    width: 40%;
}

.intro2 {
    margin-top: 18rem;
    height: 100vh;
    background: url("karol-alamar-frontal.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.chimera {
    width: 15rem;
}

.espec {
    width: 21rem;
    font-size: 19px;
    color: rgb(189, 189, 189);
}

.espec.karoline {
    margin-left: 40rem;
    margin-top: 12rem;
}

.espec.ellen {
    margin-left: 912px;
    margin-top: 13rem;
}

.espec.titulo {
    color: grey;
}

.espec.parag {
    margin-top: 8px;
}

.luvas {
    margin-top: 12rem;
    background-color: black;
    color: white;
    clear: both;
}

.luvas h1 {
    color: rgb(163, 163, 163);
    font-size: 30px;

}

.luvas p {
    font-size: 19px;
    width: 50rem;
}

.luvas img {
    width: 50rem;
    margin-left: 10rem;
}

.line {
    background-color: white;
    width: 2.5px;
    height: 70px;
    border-radius: 20px;
}

.imagempatente {
    width: 90rem;
}

.textopatente {
    margin-left: 8px;
}

.textopatente.a {
    position: absolute;
    margin-top: 12rem;
}

.line.a {
    position: absolute;
    margin-top: 12.5rem;
}

.textopatente.b {
    position: absolute;
    margin-top: 12rem;
}

.line.b {
    position: absolute;
    margin-top: 12.5rem;
}

.textopatente.c {
    position: absolute;
    margin-top: 12rem;
}

.line.c {
    position: absolute;
    margin-top: 12.5rem;
}

.a {
    display: inline-block;
    margin-top: 0px;
}

.b {
    display: inline-block;
}

.c {
    display: inline-block;
}

.fim {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.fim h1 {
    text-align: center;
    margin-top: 8rem;
    font-size: 50px;
}